#content {
  width: 100%;
  text-align: center;
}

#header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Cormorant', serif;
    font-weight: 400;
    font-size: 1.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar a{
    text-decoration: none;
    margin: 0 10px 0 10px;
    color: black;
}

#navbar a.selected{
    color: #8EA4D2;
}

#navbar a:hover{
    color: #8EA4D2;
}

.name{
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-size: max(2em, 3vw);
}

#img-profile{
    border-radius: 50%;
    overflow: hidden;
    width: 10%;
    margin: 0% 1% 0% 1%;
}

#greeting-container {
  margin-top: 20px;
}

#image-gallery{
    margin: 0 auto;
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: center;
}

div.col{
    width: 31%;
    padding: 0 1%;
}

#image-gallery img{
    width: 100%;
    margin: 10px 0;
}

h2{
    font-family: 'Cormorant', serif;
    font-weight: 600;
    font-size: max(1em, 1.8vw);
}